<div class="container-fluid">
    <h4 class="justify-content-center" style="margin-top: 10px;">Admin Rights / <span style="opacity: 0.6;">{{buttonName}}</span></h4>
    <a class="btn btn-primary" (click)="GetCustomers()" role="button">Get Customers</a>&nbsp;
    <a class="btn btn-primary" (click)="GetProducts()"  role="button">Get Products</a>&nbsp;
    <a class="btn btn-primary" (click)="GetOrderDetails()"  role="button">Get Order Details</a>&nbsp;
    <a class="btn btn-primary" (click)="PendingRequests()"  role="button">Pending Requests</a>&nbsp;
    <a class="btn btn-primary" (click)="GetActivityLog()"  role="button">Activity Log</a>&nbsp;

    <hr>
    <div *ngIf="buttonName=='GetActivityLog';" id="buttonName">
        <table class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th>Activity Id</th>
                    <th>Log Type</th>
                    <th>Activity Description</th>
                    <th>Time Stamp</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of activityList">
                    <td scope="row">{{item.ActivityID}}</td>
                    <td>{{item.LogType}}</td>
                    <td>{{item.ActivityDesc}}</td>
                    <td>{{item.ActivityTimeStamp}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="buttonName=='GetCustomers';" id="buttonName">
        <div class="container input-group row">
            <input type="search" class="form-control rounded col-sm-6" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="filterTextCustomer" style="font-size: larger;" />
          </div>
        <table class="table table-bordered table-dark table-inverse table-responsive" style="margin-top: 10px;font-family:Arial, Helvetica, sans-serif">
            <thead class="thead-inverse">
                <tr>
                    <th>RegNumber</th>
                    <th>CustName</th>
                    <th>PhoneNo</th>
                    <th>CustEmail</th>
                    <th>CustUsername</th>
                    <th>CustAddress</th>
                    <th>CardType</th>
                    <th>BankName</th>
                    <!-- <th>AccountNumber</th> -->
                    <th>IFSCCode</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of custlist | filter:filterTextCustomer;">
                    <td scope="row">{{item.RegNumber}}</td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.PhoneNo}}</td>
                    <td>{{item.CustEmail}}</td>
                    <td>{{item.CustUsername}}</td>
                    <td>{{item.CustAddress}}</td>
                    <td>{{item.CardType}}</td>
                    <td>{{item.BankName}}</td>
                    <!-- <td>{{item.AccountNumber}}</td> -->
                    <td>{{item.IFSCCode}}</td>
            
                    <td> <a routerLink="/UpdateCustomer/{{item.RegNumber}}" class="btn btn-outline-primary"> Update Customer</a></td>
                    <td><a class="btn btn-outline-primary" (click) ="Delete(item.RegNumber)">DeleteCustomer</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div *ngIf="buttonName=='GetProducts';" style="margin-bottom: 10%;">
        <div class="container input-group row">
            <input type="search" class="form-control rounded col-sm-6" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="filterTextProducts" style="font-size: larger;" />
          </div>
        <table id="Example1" class="table table-bordered table-dark table-inverse table-responsive" datatable>
            <thead class="thead-inverse">
                <tr>
                    <th>Product ID</th>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Product Desc</th>
                    <th>Product Stock</th>
                    <th>Product Price</th>
                    
                    <!-- <th>EDIT Product</th> -->
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productList | filter:filterTextProducts">
                        <td scope="row">{{item.ProductID}}</td>
                        <td><img src="../../../assets/images/Products/{{item.ProductID}}.jpg" width="200" height="200" alt=""></td>
                        <td>{{item.ProductName}}</td>
                        <td>{{item.ProductDesc}}</td>
                        <td>{{item.ProductStock}}</td>
                        <td>{{item.ProductPrice}}</td>
                       <!-- <td><a class="btn btn-primary" [routerLink]="['/routePath']" href="#">EDIT</a></td>-->
                    </tr>
                </tbody>
        </table>
    </div>
    <div *ngIf="buttonName=='GetOrderDetails'" style="margin-bottom: 10%;">
        <table class="table table-bordered table-dark table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Transaction ID</th>
                    <th>Reg Number</th>
                    <th>CardID</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>TotalAmount</th>
                    <th>EMIDuration</th>
                    <th>EMIPaid</th>
                    <th>EMIBalance</th>
                    <th>CreatedDate</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderList">
                        <td scope="row">{{item.TransactionID}}</td>
                        <td>{{item.RegNumber}}</td>
                        <td>{{item.CardID}}</td>
                        <td>{{item.ProductID}}</td>
                        <td>{{item.Quantity}}</td>
                        <td>{{item.TotalAmount}}</td>
                        <td>{{item.EMIDuration}}</td>
                        <td>{{item.EMIPaid}}</td>
                        <td>{{item.EMIBalance}}</td>
                        <td>{{item.CreatedDate}}</td>
                    </tr>
                </tbody>
        </table>
    </div>
    <div *ngIf="buttonName=='PendingRequests';" style="margin-top: 4em;margin-bottom: 5em;">
        <table class="table table-bordered table-dark table-inverse table-responsive" style="margin-top: 10px;font-family:Arial, Helvetica, sans-serif;">
            <thead class="thead-inverse">
                <tr>
                    <th>RegNumber</th>
                    <th>CustName</th>
                    <th>PhoneNo</th>
                    <th>CustEmail</th>
                    <th>CustUsername</th>
                    <th>CustAddress</th>
                    <th>CardType</th>
                    <th>BankName</th>
                    <!-- <th>AccountNumber</th> -->
                    <th>IFSCCode</th>
                    <th>Approval Status</th>
                    <th>Activate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pendingRequests;">
                    <td scope="row">{{item.RegNumber}}</td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.PhoneNo}}</td>
                    <td>{{item.CustEmail}}</td>
                    <td>{{item.CustUsername}}</td>
                    <td>{{item.CustAddress}}</td>
                    <td>{{item.CardType}}</td>
                    <td>{{item.BankName}}</td>
                    <!-- <td>{{item.AccountNumber}}</td> -->
                    <td>{{item.IFSCCode}}</td>
                    <td>{{item.ApprovalStatus}}</td>

                    <td> <a routerLink="/UpdateCustomer/{{item.RegNumber}}" class="btn btn-outline-primary" > Update Customer</a></td>
                    <td> <a class="btn btn-outline-primary" (click) ="ActivateCustomer(item.RegNumber)">Activate</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>