<nav class="navbar navbar-expand-lg bg-navbar">
    <a class="navbar-brand logo-size" href="#">Finance System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-bars fa-lg"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          
          <a class="nav-link nav-link-style" href="Home"><span><i class="fa fa-home" aria-hidden="true"></i></span>&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-style" href="Login"><span><i class="fa fa-sign-in" aria-hidden="true"></i></span>&nbsp;Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-style" href="Register"><span><i class="fa fa-user-plus" aria-hidden="true"></i></span>&nbsp;Register</a>
        </li>
      </ul>
    </div>
  </nav>