.alert-msg{
    font-size:medium;
    display: inline-block;
}
.alert{
    width:inherit;
    font-size: medium;
}
.card-header{
    background-color: #861657;
background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
color:white;
}
.card-footer{
    background-color: #861657;
background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}
.card-body{
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}
.card-footer-center{
    display: grid;
    place-items: center;
}
button{
    font-size: 1.5em;
    border-radius: 5px;
    color:white;
    border-color: whitesmoke;
}
