<div style="margin-top: 4em;"><h2>Dashboard</h2></div>
<div class="container" style="display: grid;place-items: center;margin-left: 10%;">
    <div class="row">
        <div class="card">
            <div class="card__front card__part">
            <img class="card__front-square card__square" src="../../../assets/images/EmiCard/cardChip1.jpg">
            <img class="card__front-logo card__logo" src="../../../assets/images/EmiCard/emiLogo.jpg">
            <p class="card_numer">{{cardno}}</p>
            <div class="card__space-75">
                <span class="card__label">Card holder</span>
                <p class="card__info">{{custname}}</p>
            </div>
            <div class="card__space-25">
                <span class="card__label">Expires</span>
                <p class="card__info">{{validity}}</p>
            </div>
            <div class="card__space-25">
                <span class="card__label">ACTIVATION STATUS</span>
                <p class="card__info">{{accountstatus}}</p>
            </div>
            <div class="card__space-25">
                <span class="card__label">CARD TYPE</span>
                <p class="card__info">{{cardtype}}</p>
            </div>
            </div>
            
            <div class="card__back card__part">
            <div class="card__black-line"></div>
            <div class="card__back-content">
                <div class="card__secret">
                <p class="card__secret--last">420</p>
                </div>
                
                <img class="card__back-square card__square" src="../../../assets/images/EmiCard/shoppingCart.png"> 
                <!-- <img class="card__back-logo card__logo" src="../../../assets/images/emiLogo.jpg">-->
                
                
            </div>
            </div>
            
        </div>
    </div>
</div>
<br>
<br>

<table class="table table-hover table-bordered table-inverse table-responsive">
    <thead class="thead-inverse">
        
        <tr>
            <th>Total Credit</th>
            <th>Credit Used</th>
            <th>Remaining Credit</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{totalCredit}}</td>
                <td>{{creditUsed}}</td>
                <td>{{remainingCredit}}</td>
            </tr>
        </tbody>
</table>
<br>

<div class="container justify-content-center" style="display: grid;place-items: center;">
    <a style="color: white;padding: 10px;" class="btn btn-primary btn-lg" (click) = "CheckApprovalStatus()" role="button">Pay Registeration fee</a>&nbsp;
    <a style="color: white;padding: 10px;" class="btn btn-primary btn-lg" (click)="GetPurchasedProducts()" role="button">Get Purchased Products</a>&nbsp;
    <a style="color: white;padding: 10px;" class="btn btn-primary btn-lg" (click) = "GetOrderDetails()" role="button">Get Order Details</a>&nbsp;
</div>

<div *ngIf="dashboardButtonName=='GetPurchasedProducts';">
    <br>
    <h4>/Purchased Products</h4>
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Product ID</th>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total Amount</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of purchasedList">
                    <td>{{item.ProductID}}</td>
                    <td><img src="../../../assets/images/Products/{{item.ProductID}}.jpg" width="200" height="200" alt=""></td>
                    <td>{{item.ProductName}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.TotalAmount}}</td>
                </tr>
            </tbody>
    </table>
</div>



<div *ngIf="dashboardButtonName=='GetOrderDetails';">
    <br>
    <h4>/Order Details</h4>
    <table class="table table-bordered table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Transaction ID</th>                
                <th>Registration No</th>         
                <th>Card Id</th>     
                <th>Product Id</th>     
                <th>Quantity</th>
                <th>Total Amount</th> 
                <th>Emi Duration</th>  
                <th>EMI Paid</th>
                <th>EMI Balance</th>
                <th>Created Date</th>
            </tr>
            </thead>
            <tbody>
                
            <tr *ngFor="let value of order">
                
                <td scope="row">{{value.TransactionID}}</td>
                <td>{{value.RegNumber}}</td>
                <td>{{value.CardID}}</td>
                <td>{{value.ProductID}}</td>
                <td>{{value.Quantity}}</td>
                <td>{{value.TotalAmount}}</td>
                <td>{{value.EMIDuration}}</td>
                <td>{{value.EMIPaid}}</td>
                <td>{{value.EMIBalance}}</td>
                <td>{{value.CreatedDate}}</td>
            </tr>
            </tbody>
    </table>
</div>


<app-footer></app-footer>