<div>
  <div  class="card common-margin">
      <div class="card-header login-bg ">User Login</div>
      <form #loginForm="ngForm" name="loginForm" (ngSubmit)="Login(loginForm)">
          <div class="card-body">
              <div style="display:grid ;place-items:center;">
                  <div class="form-group">
                      <label for="name"><i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp;UserName</label>
                      <input type="text" class="form-control input-width" placeholder="Username" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                      <br>
                      <span class="alert alert-danger alert-msg" *ngIf="name.errors?.required">UserName is Required</span>

                  </div>
                  <div class="form-group ">
                      <label for="pwd"><i class="fa fa-key fa-lg"></i>&nbsp;Password</label>
                      <input type="password" class="form-control input-width" placeholder="User Password" name="pwd" [(ngModel)]="model.pwd" #pwd="ngModel" required />
                      <br>
                      <span class="alert alert-danger alert-msg" *ngIf="pwd.errors?.required">Password is Required</span>
                  </div>

                  <br>
                  <!-- <div>
                      <h5><a data-toggle="modal" data-target="#myModal" (click)="showModal()" [routerLink]="['/ForgotPassword']">FORGOT PASSWORD?</a></h5>
                  </div> -->
                  <div><a routerLink="/OTP" routerLinkActive="active">Forgot Password?</a></div>
                  <br>
                  <div>
                      <h5>Don't Have an Account? <a [routerLink]="['/Register']">Register Here</a></h5>
                  </div>
              </div>
          </div>
          <div class="card-footer card-footer-center login-bg">
              <button class="btn btn-primary footer-button" type="submit" [disabled]="loginForm.invalid">Login</button>
          </div>
      </form>
      <div>
      </div>
  </div>
</div>
<app-footer>

</app-footer>


